<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Listado de Clientes</title>
</head>
<body>
<h1>Listado de Clientes</h1>

<table border="1">
    <thead>
    <tr>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Dirección postal</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Sucursal principal</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cliente : ${clientes}">
        <td th:text="${cliente.dni}">DNI</td>
        <td th:text="${cliente.nombre}">Nombre</td>
        <td th:text="${cliente.direccion_postal}">Dirección postal</td>
        <td th:text="${cliente.email}">Email</td>
        <td th:text="${cliente.telefono}">Teléfono</td>
        <td th:text="${cliente.sucursal_principal.nombre}">Sucursal principal</td>
        <td>
            <a th:href="@{'/clientes/' + ${cliente.dni}}">Ver detalle</a> |
            <form th:action="@{'/clientes/' + ${cliente.dni}}" method="post">Borrar</form>
<!--            <a th:href="@{'/clientes/borrar/' + ${clientes.dni}}">Borrar</a>-->
        </td>
    </tr>
    </tbody>
</table>

<!-- Formulario de creación -->
<h2>Crear nuevo cliente</h2>
<form th:action="@{/clientes}" method="post">
    <label>DNI:</label>
    <input type="text" name="dni"/><br/>
    <label>Nombre:</label>
    <input type="text" name="nombre"/><br/>
    <label>Dirección postal:</label>
    <input type="text" name="direccion_postal"/><br/>
    <label>Email:</label>
    <input type="text" name="email"/><br/>
    <label>Teléfono:</label>
    <input type="text" name="telefono"/><br/>
    <label>Sucursal principal:</label>
    <select name="sucursal_principal" id="sucursal_principal">
        <option th:each="sucursal : ${sucursales}" th:value="${sucursal}" th:text="${sucursal.nombre}"></option>
    </select>
    <button type="submit">Crear</button>
</form>
</body>
</html>
